{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/assetsGp/css/bgPyke.css') }}" rel="stylesheet" />
    <link href="{{ asset('/assetsGp/css/form.css') }}" rel="stylesheet" />
    <!-- Favicons -->
    <link href="/assetsGp/img/ico/guerrero.ico" rel="icon">
    <link href="/assetsGp/img/ico/guerrero.ico" rel="apple-touch-icon">
{% endblock %}

{% block body %}


    <div class="container bg-light rounded box-form">
        <h1 id="after-header" class="color-honey bold">Registro</h1>
        <div class="row">
            {% form_theme registrationForm 'bootstrap_5_horizontal_layout.html.twig' %}
            {{ form_start(registrationForm) }}
                {{ form_errors(registrationForm) }}

                <div class="row form">
                    <div class="col-6">
                        {{ form_row(registrationForm.name) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms) }}
                        <button type="submit" class="btn button">Register</button>
                    </div>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
