<ul>
    <li><strong>{{ personaje.nombre }}</strong></li>
    <li><strong>Raza: </strong>: {{ personaje.raza }}</li>
    <li><strong>Clase: </strong>: {{ personaje.clase }}</li>
    <li><strong>Nivel: </strong>: {{ personaje.nivel }}</li>
    <li><strong>Autor: </strong>: {{ personaje.autor.nombre }}</li>
</ul>