
<div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Dex</label>
        </div>
        <div>Acrobacias</div>
        <div><button>{{ personaje.destreza }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Wis</label>
        </div>
        <div>Manejo de animales</div>
        <div><button>{{ personaje.sabiduria }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" cheked disabled>
            <label class="form-check-label" for="exampleRadios3">Int</label>
        </div>
        <div>Arcana</div>
        <div><button>{{ personaje.inteligencia }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Str</label>
        </div>
        <div>Atleticas</div>
        <div><button>{{ personaje.fuerza }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Cha</label>
        </div>
        <div>Engaño</div>
        <div><button>{{ personaje.carisma }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Int</label>
        </div>
        <div>Historia</div>
        <div><button>{{ personaje.inteligencia }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Wis</label>
        </div>
        <div>Averiguar intenciones</div>
        <div><button>{{ personaje.sabiduria }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Cha</label>
        </div>
        <div>Intimidación</div>
        <div><button>{{ personaje.carisma }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Int</label>
        </div>
        <div>Investigación</div>
        <div><button>{{ personaje.inteligencia }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Wis</label>
        </div>
        <div>Medicina</div>
        <div><button>{{ personaje.sabiduria }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Int</label>
        </div>
        <div>Naturaleza</div>
        <div><button>{{ personaje.inteligencia }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Wis</label>
        </div>
        <div>Percepcion</div>
        <div><button>{{ personaje.sabiduria }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Cha</label>
        </div>
        <div>Actuación</div>
        <div><button>{{ personaje.carisma }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Cha</label>
        </div>
        <div>Persuasión</div>
        <div><button>{{ personaje.carisma }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Int</label>
        </div>
        <div>Religión</div>
        <div><button>{{ personaje.inteligencia }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Dex</label>
        </div>
        <div>Juego de manos</div>
        <div><button>{{ personaje.destreza }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Dex</label>
        </div>
        <div>Sigilo</div>
        <div><button>{{ personaje.destreza }}</button></div>
    </div>
    <div class="row row-cols-3">
        <div class="disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">Wis</label>
        </div>
        <div>Supervivencia</div>
        <div><button>{{ personaje.sabiduria }}</button></div>
    </div>
    <div>Habilidades</div>
</div>
