<div class="col-1 text-center">
    <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">
        <div>STR</div>
        <div><button>{{ personaje.fuerza }}</button></div>
        <div>{{ personaje.fuerza }}</div>
    </div>
</div>
<div class="col-1 text-center">
    <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">
        <div>DEX</div>
        <div><button>{{ personaje.destreza }}</button></div>
        <div>{{ personaje.destreza }}</div>
    </div>
</div>
<div class="col-1 text-center">
    <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">
        <div>CON</div>
        <div><button>{{ personaje.constitucion }}</button></div>
        <div>{{ personaje.constitucion }}</div>
    </div>
</div>
<div class="col-1 text-center">
    <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">
        <div>INT</div>
        <div><button>{{ personaje.inteligencia }}</button></div>
        <div>{{ personaje.inteligencia }}</div>
    </div>
</div>
<div class="col-1 text-center">
    <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">
        <div>WIS</div>
        <div><button>{{ personaje.sabiduria }}</button></div>
        <div>{{ personaje.sabiduria }}</div>
    </div>
</div>
<div class="col-1 text-center">
    <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">
        <div>CHA</div>
        <div><button>{{ personaje.carisma }}</button></div>
        <div>{{ personaje.carisma }}</div>
    </div>
</div>
<div class="col-1 text-center">
    <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">
        <div>Bono</div>
        <div><button>{{ personaje.nivel }}</button></div>
        <div>comp</div>
    </div>
</div>
<div class="col-1 text-center">
    <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">
        <div>caminar</div>
        <div>30</div>
        <div>velocidad</div>
    </div>
</div>
<div class="col-4 text-center">
    <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">
        <div class="row row-cols-3">
            <div class="col">
                <div>
                    <button role="button">Heal</button>
                </div>
                <div>
                    <input type="number" id="inNumSumaryVida" min="0" max="999999999" value=""></input>
                </div>
                <div>
                    <button role="button">Damage</button>
                </div>
            </div>
            <div class="col">
                <div class="row row-cols-3">
                    <div class="col">
                        <div>Actuales</div>
                        <div>82</div>
                        <!--Comentario en un futuro habra que cambiaro por personaje.vidaActual-->
                    </div>
                    <div class="col">
                        <div>.</div>
                        <div>/</div>
                    </div>
                    <div class="col">
                        <div>Max</div>
                        <div>82</div>
                    </div>
                </div>
                <div>Puntos de vida</div>
            </div>
            <div class="col">
                <div>Temp</div>
                <div><input type="number" id="inNumTempVida" value=""></input></div>
            </div>
        </div>
    </div>
</div>