{% extends "base.html.twig" %}
{% block title %}Personaje{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/assetsGp/css/FichaPersonaje.css') }}" rel="stylesheet" />

    <!-- Favicons -->
    <link href="/assetsGp/img/ico/casco.ico" rel="icon">
    <link href="/assetsGp/img/ico/casco.ico" rel="apple-touch-icon">
{% endblock %}
{% block javascripts %}
    <script src="/assetsGp/js/jsFichaPersonaje.js"></script>
{% endblock %}
{% block body %}

    <div id="after-header" class="wrapper container" id="contenedorFichaPersonaje">


        <div class="row bg-dark text-white">
            {{ include('partials/datos-inicio-personaje.part.html.twig') }}
        </div>

        <br><br>

        <div class="row gx-4 align-items-center">
            {{ include('partials/stats-personaje.part.html.twig') }}
        </div>

        <br>

        <div class="row gx-4 align-items-center">
            <div class="col-3 text-center">
                <div>
                    <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">
                    <div>Tiradas de salvación</div>
                        <div class="row row-cols-2">
                            <div>
                                <input class="form-check-input" type="radio" name="salvacionFuerza" value="salvacionFuerza">
                                <label class="form-check-label" for="exampleRadios3">STR</label>
                                <button class="d20" value="{{ modFuerza }}">{{ modFuerza }}</button>
                            </div>
                            <div>
                                <input class="form-check-input" type="radio" name="salvacionDestreza" value="salvacionDestreza">
                                <label class="form-check-label" for="exampleRadios3">DEX</label>
                                <button class="d20" value="{{ modDestreza }}">{{ modDestreza }}</button>
                            </div>
                            <div>
                                <input class="form-check-input" type="radio" name="salvacionConstitucion" value="salvacionConstitucion">
                                <label class="form-check-label" for="exampleRadios3">CON</label>
                                <button class="d20" value="{{ modConstitucion }}">{{ modConstitucion }}</button>
                            </div>
                            <div>
                                <input class="form-check-input" type="radio" name="salvacionInteligencia" value="salvacionInteligencia">
                                <label class="form-check-label" for="exampleRadios3">INT</label>
                                <button class="d20" value="{{ modInteligencia }}">{{ modInteligencia }}</button>
                            </div>
                            <div>
                                <input class="form-check-input" type="radio" name="salvacionSabiduria" value="salvacionSabiduria">
                                <label class="form-check-label" for="exampleRadios3">WIS</label>
                                <button class="d20" value="{{ modSabiduria }}">{{ modSabiduria }}</button>
                            </div>
                            <div>
                                <input class="form-check-input" type="radio" name="salvacionCarisma" value="salvacionCarisma">
                                <label class="form-check-label" for="exampleRadios3">WIS</label>
                                <button class="d20" value="{{ modCarisma }}">{{ modCarisma }}</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">
                        <div class="row row-cols-1">
                            <div>{{ 10 + modSabiduria }} percepción (WIS pasiva)</div>
                            <div>{{ 10 + modInteligencia }} investigación (INT pasiva)</div>
                            <div>{{ 10 + modSabiduria }} perspicacia (WIS pasiva)</div>
                        </div>
                        <div>Vision en la oscuridad 120 pies</div>
                        <div>Sentidos</div>
                    </div>
                    <br>
                    <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75 text-start">
                        <div>
                            <div>Armadura</div>
                            <div>Ninguna</div>
                        </div>
                        <hr>
                        <div>
                            <div>Armas</div>
                            <div>Espada corta, daga, bastón</div>
                        </div>
                        <hr>
                        <div>
                            <div>Herramientas</div>
                            <div>Dragoajedrez y las herramientas de ladrón</div>
                        </div>
                        <hr>
                        <div>
                            <div>Idiomas</div>
                            <div>Common, Elfico</div>
                        </div>
                        <br>
                        <div>Idiomas y competencias</div>
                    </div>
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark bg-opacity-75">
                    {% include "partials/habilidades-personaje.part.html.twig" %}
                </div>
            </div>
            <div class="col text-center">
                <div class="p-1 border-2 border-primary rounded-2 bg-info text-dark" id="acciones">
                    {% include "partials/acordeon.part.html.twig" %}
                </div>
            </div>
        </div>
    
        <br><br>

    </div>

{% endblock %}
